coke-beats
<div id="archive">



	<% if(posts.length){ %>

		<ul class="media-list">

			<% _.each( posts, function( post ){ %>

				<li class="media">

                            <% if( post.thumbnail.src && post.thumbnail.src.length ){ %>
					<div class="row">
                    	<div class="post-image" style="background-image:url(<%= post.thumbnail.src %>); width:100%;
                         	background-position: center center;
    						background-repeat: no-repeat;
    						background-size: cover;
    						height: 320px;
    						width: 100%;
							}">
                    		<div class="media-title">
							<a href="<%= TemplateTags.getPostLink(post.id) %>" class="pull-left articletitle"><%= post.title %></a></div>

						<!--<img class="media-object pull-left" style="max-width: 100% !important; min-width:100%;" src="<%= post.thumbnail.src %>">-->


						</div>
                    </div>
                    <% } %>
					<div class="media-body">


						<p><%= post.excerpt %></p>

                      <div class="pre-footer">
                        <div class="entry-meta">
							<span class="posted-on"><%= TemplateTags.formatDate(post.date,'d/m/Y') %></span>


						<% if( post.nb_comments > 0 ){ %>
							<span class="comments comments-link"><%= post.nb_comments %> comment<% post.nb_comments > 1 ? print('s') : '' %></span><br/>
						<% } %>
                        </div>

                        <a class="callAction" href="<%= TemplateTags.getPostLink(post.id) %>">Read more</a>
						</div>
                    </div>

				</li>

			<% }); %>

		</ul>

		<% if( TemplateTags.displayGetMoreLink() ){ %>
			<button type="button" class="get-more btn btn-default">Get more posts (<%= TemplateTags.getMoreLinkNbLeft() %> left)</button>
		<% } %>

	<% }else{ %>
		<p>No post found!</p>
	<% } %>



    	<ol class="breadcrumb">
		<li><%= list_title %><% total > 0 ? print(' - ' + total) : print(' - No') %> post<% total > 1 ? print('s') : '' %></li>
	</ol>
</div>
